<% titulo " - #{@post.title}" %>
<p id="notice"><%= notice %></p>

<article id="post">
  <h1><%= link_to @post.title %></h1>
  <p>postado por <span id="author"><%= @post.author %></span> às <%= @post.pubdate.strftime("%H:%M") %></p>
  <time datetime="<%=@post.pubdate.strftime("%Y-%B-%d")%>" pubdate><%= @post.pubdate.strftime("%Y %B %d") %></time>
  <p><%= @post.body %></p>
  <p><%= @post.tags %></p>
</article>


<div id="admin" class="grid_12">
  <ul>
    <li><%= link_to 'Editar', edit_post_path(@post) %></li>
    <li><%= link_to 'Voltar', posts_path %></li>
    <li><%= link_to 'Destroy', @post, confirm: "Tem certeza?", method: :delete %></li>
  </ul>
</div>
